dagster>=1.9,<2
dagit>=1.9,<2
dagster-graphql>=1.9,<2
dagster-postgres>=1.9,<2
dagster-duckdb>=1.9,<2
dagster-docker>=1.9,<2
dlt[duckdb]
dlt[postgres]
dbt-core
dbt-duckdb
python-dateutil
requests
tenacity
dagster-embedded-elt>=1.9,<2
