dagster
dagit
dagster-graphql
dagster-postgres
dagster-duckdb
dagster-docker
dlt[duckdb]
dlt[postgres]
dbt-core==1.9.0
dbt-duckdb
python-dateutil
requests
tenacity
dagster-embedded-elt
dagster-dbt
dbt-postgres==1.9.0
boto3>=1.26.0
s3fs>=2023.1.0
aiobotocore>=2.5.0